 body {
      font-family: 'Josefin Sans', sans-serif;
 }
 section {
     max-width: 57%;
     margin: auto;
     text-align: center;
    
 }
 .wrapper {
    height: 100vh;
    display: flex;
    align-items: center;
    color:#fff;
 } 
 .video-wrap {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height:100%;
     overflow: hidden;   
 }

 .video-wrap video {
     min-width: 100%;
     min-height: 100%; 
     object-fit: contain; 
    
 }

 .landing-text {
     z-index: 2;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     font-size: 20px;
     color: white;
 
}
h1 {
    font-weight: 600;
    font-size: 300%;
}

h3{
    font-size: 230%;
    font-weight: 400;
    margin-top: -4%;
    padding-bottom: 3%;
}
.btn {
    text-decoration: none;
    color: #fff;
    font-size: 140%;
    background: #000000;
    padding: 2% 3%;
    border-radius: 5px;
}
/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
   
}

.intro {
    height:100vh;
}

.intro video {
    height: 100%;
    width: 100%;
    object-fit: none;
  
    
}
.intro h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 90px;
    color: white;

}
section {
    height: 100vh;
    color: black;
}

section h1 {
    padding-top: 300px;
    text-align: center;
    font-size: 100px;
} */

